// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.circle-pic{
    width:40px;
    height:40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    float: right;
}

.dash-title {
    vertical-align: -webkit-baseline-middle;
}

.content-md, .toolbar-background-md {
    background-color: #303030 !important;
}

.item-md, .card-header-md {
    background-color: #424242 !important;
}

.refresher-pulling-icon, .refresher-refreshing-icon, .refresher-pulling-text, .refresher-refreshing-text, .card-header-md,
.toolbar-title-md, .item-md, .content-md, .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff !important;
}
